.signup {
  margin: 10px;
}
.form-control {
  margin-left: 5px;
}
.label {
  margin: 10px;
}
.sign {
  background: #600a0a;
  color: aliceblue;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  padding: 2px;
  margin: 10px;
}
